docker_compose/
*.pyc
Documents/

__pycache__
*.pyc
.pytest_cache
.coverage
.git
.gitignore
*.env
Dockerfile
Dockerfile.prod
Dockerfile.dev

README.md
node_modules

staticfiles/
media/

.github/

tests/
test/

docs/