# Django
DJANGO_SECRET_KEY=secrettoken
DJANGO_SETTINGS_MODULE=core.project.settings.prod
DEBUG=False

# Postgres
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DJANGO_PORT=8000

# Nginx
MY_SERVER_IP=localhost

# Разное
ALLOWED_HOSTS=my_domain.com

# Certbot
EMAIL=email