# Django
DJANGO_SECRET_KEY=secrettoken
DJANGO_SETTINGS_MODULE=core.project.settings.prod
DEBUG=True

# Postgres
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DJANGO_PORT=8000

# Nginx
MY_SERVER_IP=localhost
SERVER_NAME=server_name
SSL_CERT=ssl_cert
SSL_KEY=ssl_key



# Разное
ALLOWED_HOSTS=my_domain.com
