{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    hx-get="{% url 'resumes:home_screen_search' %}?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query|urlencode }}{% endif %}{% if template_id %}&template={{ template_id }}{% endif %}{% if user_id %}&created={{ user_id }}{% endif %}"
                    hx-target="#card-list"
                    hx-push-url="true">
                    Назад
                </a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link"
                    hx-get="{% url 'resumes:home_screen_search' %}?page={{ num }}{% if query %}&q={{ query|urlencode }}{% endif %}{% if template_id %}&template={{ template_id }}{% endif %}{% if user_id %}&created={{ user_id }}{% endif %}"
                    hx-target="#card-list"
                    hx-push-url="true">
                    {{ num }}
                </a>
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    hx-get="{% url 'resumes:home_screen_search' %}?page={{ page_obj.next_page_number }}{% if query %}&q={{ query|urlencode }}{% endif %}{% if template_id %}&template={{ template_id }}{% endif %}{% if user_id %}&created={{ user_id }}{% endif %}"
                    hx-target="#card-list"
                    hx-push-url="true">
                    Вперед
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}